@model IEnumerable<BankSystemBota.Models.DepositInfo>

<table class="table">
    <thead>
        <tr>
            <th>
                Баланс
            </th>
            <th>
                Доход
            </th>
            <th>
                Расход
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null){
            @foreach (var item in Model) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Balance)
                    </td>
                    <td class="text-success">
                        @Html.DisplayFor(modelItem => item.Income)
                    </td>
                    <td class="text-danger">
                        @Html.DisplayFor(modelItem => item.Outcome)
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
